*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    background: #e6e0e0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.content{
    padding: 125px 50px 50px;
    background: royalblue;
}

h1{
    color: #f1f1f1;
    text-align: center;
}

footer{
    background: #f1f1f1;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

nav{
    background: #f1f1f1;
    padding: 20px;
    text-align: center;
    gap: 5px;
}

a{
    color: #6b1c1c;
    text-decoration: none;
}